{% extends "base.html" %}
{% block title %}Сбросить пароль{% endblock %}
{% block main_content %}
<div class="reset-form">
	<div class="container">
		<div class="reset-form__column">
			<div class="reset-form__title title">
				<h1>Забыли пароль?</h1>
			</div>
			<div class="reset-form__subtitle subtitle">
				<p>Заполните поле чтобы восстановить его</p>
			</div>
			<div class="reset-form__form">
				<form action="." method="post">
					{{ form.as_p }}
					<button type="submit" class="sign-button">Далее</button>
					{% csrf_token %}
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}