{% extends "base.html" %}
{% block title %}Сбросить пароль{% endblock %}
{% block main_content %}
<div class="reset-form">
    <div class="container">
        <div class="reset-form__column">
            <div class="reset-form__title title">
                <h1>Проверьте почту</h1>
            </div>
            <div class="reset-form__subtitle subtitle">
                <p>На вашу почту должно было прийти письмо с инструкциями по смене пароля</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}