{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block main_content %}

<div class="reset-form">
	<div class="container">
		<div class="reset-form__column">
			<div class="reset-form__title title">
				<h1>Сброс пароля</h1>
			</div>
			{% if validlink %}
			<div class="reset-form__subtitle subtitle">
				<p>Введите ваш новый пароль:</p>
			</div>
			<div class="reset-form__form">
				<form action="." method="post">
					{{ form.as_p }}
					{% csrf_token %}
					<button class="sing-button" type="submit">Сменить пароль</button>
				</form>
			</div>
			{% else %}
			<div class="reset-form__subtitle subtitle">
				<p>Ваша ссылка для смены пароля никуда не годится. Попробуйте ещё раз.</p>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}